.info {
  transition: all 0.5s ease-out;
  opacity: 0;
  top: 45%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5rem 3rem;
  border-radius: 0.5rem;
  width: 60rem; }
  .info h1 {
    font-size: 2.5rem;
    margin-top: 0; }
  .info p {
    font-size: 2.2rem;
    margin-bottom: 0; }
  .info .btn {
    margin: 4rem 0 0;
    font-size: 2.2rem;
    padding: 1.5rem 3rem;
    background: linear-gradient(to bottom, #2aaf2a, #228a22);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0.85;
    transition: all 0.2s ease-out;
    width: 100%; }
    .info .btn:hover {
      opacity: 1; }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-out;
  opacity: 0; }

#info-wrapper {
  position: relative;
  z-index: 10000;
  pointer-events: none;
  display: block !important; }
  #info-wrapper.open {
    pointer-events: all; }
    #info-wrapper.open > .backdrop {
      opacity: 1; }
    #info-wrapper.open > .info {
      opacity: 1;
      top: 50%; }

@media screen and (max-width: 1000px) {
  .info {
    width: 40rem; } }

@media screen and (max-width: 440px) {
  .info {
    width: 100%;
    transform: none;
    top: 0 !important;
    border-radius: 0;
    background-color: #f8f7f3;
    left: 0;
    overflow: auto;
    height: 100vh; } }
